body {
    margin: 0 auto;
}

.div {
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 48px;
}

h1 {
    font-size: 48px;
    font-weight: 800px;
    color: #f9faf8;
}

.header-links, .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    text-decoration: none;
    list-style-type: none;
}

.left-links {
    font-size: 24px;
    color: #f9faf8;
}

.right-links {
    font-size: 18px;
    color: #e5e7eb;
    gap: 10px;
}

.left-links, .right-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.awesome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.left-awesome {
    color: white;
}

.Pictures {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.sub-sect {
    display: flex;
    flex-direction: row;
    padding: 48px;
    gap: 32px;
    flex-wrap: wrap;
}